PORT=3000
DB_HOST=gamenet_postgres
DB_PORT=5432
DB_USER=gamenet_admin
DB_PASSWORD=your_db_password_here
DB_NAME=gamenexa_db
JWT_SECRET=your_jwt_secret_here
MYKET_API_KEY=your_myket_api_key_here
BALE_BOT_TOKEN=your_bale_bot_token_here
SMS_API_KEY=your_sms_api_key_here
